User->Game
Be able to open the game - v/
Be able to play the game - v/
Be able to replay the game - v/
Be able to quit the game - v/
Be able to choose difficulty - v/

User->PlayerCharacter
Be able to choose character's gender from m, f - v/
Be able to choose character's class from w, r, m - v/
Be able to select conversation choices - v/

PlayerCharacter->Non-Player Characters
Be able to attack enemies - v/
Be able to defend self - v/
Be able to converse with allies - v/

Non-Player Characters
Be able to drop items - v/
Be able to attack PlayerCharacter -v/
Be able to defend selves - v/
Be able to converse with enemies - v/

PlayerCharacter->Items
Be able to buy items from allies - v/
Be able to sell items - v/
Be able to examine items - v/
Be able to loot enemies - v/
Be able to choose items - v/
Be able to manage the player's inventory - v/

PlayerCharacter->Environment
Be able to walk through the environment - v/
Be able to use the environment - v/
Be able to "fix Parities" - v/